{% extends 'base.html' %}
<!-- How To page -->
{% block title %} How To {% endblock %}

{% block head %}
<h1>How to use SNPglobal</h1>

{% endblock %}
    
{% block content %}
<div>
    <p>On the home page, enter a rsID, Gene, Gene ID, or Chromosome Poistions then press submit and a table  containing population genetic information will appear</p>
    <br/>
    <p>If multiple SNPs are returned by the query, go to the population and statistical tests selection by pressing GO</p>
    <br/>
    <p>(1) Select populations then press submit</p>
    <p>(2) Select statistical tests of interest then press submit.</p>
    <br/>
    <p>Press GO to view statistical outputs</p>
</div>
{% endblock %}